.lunch-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.days {
	width: 70%;
	background-color: #242424;
	border-radius: 15px;
	padding: 20px 50px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.price-div {
	background-color: red;
	padding: 10px;
	margin: 10px;
	font-family: var(--heading-font);
	font-weight: 600;
}

@media (max-width: 768px) { 
	.lunch-menu{
		width: 100%;
		justify-content: center;
	}

	.days{
		width: 100%;
		margin-bottom: 30px;
	}
 }
