.info-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 50%;
	font-size: 25px;
	gap: 10px;
	font-family: var(--heading-font);
}

.opening-hours,
.address {
	color: var(--primary-fg);
	text-align: center;
}

.order-button {
	background-color: transparent;
	border-radius: 15px;
	border: 4px solid var(--primary-fg);
	color: white;
	padding: 10px 25px;
	font-size: 30px;
	display: flex;
	align-items: center;
}

.order-button:hover {
	scale: 1.05;
	transition: 0.3s ease;
}

.find-us-text {
	color: var(--primary-fg);
	font-size: 40px;
}

.find-us-link {
	display: block;
	width: 90%;
	border-radius: 15px;
	border: 5px solid var(--primary-fg);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.find-us-image {
	display: block;
	width: 100%;
	border-radius: 10px;
}

.text-span{
	font-family: var(--menu-font);
}

@media (max-width: 768px) { 
	.info-container{
		width: 100%;
		justify-content: center;
	}
}