.error-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error-img {
  width: 200px;
}

.error-text{
  color: var(--primary-fg);
}

.go-back-btn{
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid var(--primary-fg);
  color: white;
  border-radius: 5px;
}

.go-back-btn:hover {
  scale: 1.05;
  transition: 0.3s ease;
  text-decoration: none;
}