.footer {
	border-top: 4px solid var(--primary-fg);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	justify-content: center;
	padding: 15px 0;
	margin-top: 50px;
	background-color: #191919;
	font-family: var(--heading-font);
}

.contact-button,
.socials-button {
	margin: 10px;
	padding: 10px 25px;
	background-color: transparent;
	border: 3px solid var(--primary-fg);
	color: white;
	border-radius: 10px;
}

.link-div {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.social-links {
	border: 3px solid var(--primary-fg);
	background-color: transparent;
	cursor: pointer;
	color: var(--primary-fg); /* Yellow/white? */
	width: 42px;
	height: 42px;
	padding: 0;
	border-radius: 50%;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-links:hover,
.contact-button:hover {
	scale: 1.05;
	transition: 0.3s ease;
}

.button-div {
	display: flex;
	flex-direction: row;
}
